#!/bin/bash
# {{ ansible_managed }}
# {{ vars[role + '_database_username'] }} Oracle Data Pump export script 

{% include './templates/_helpers.sh.j2' %}

{% include './templates/_env_oracle.sh.j2' %}


{% include './templates/_hooks_sh_confirm.sh.j2' %}

SCHEMA=${SCHEMA:={{ role | role_schema_name(vars) }}}

create=$(sqlplus -s "{{ role | role_oracle_connect(vars) }}" << EOF
whenever sqlerror exit sql.sqlcode;
set echo off 
set heading off
create tablespace $SCHEMA
datafile '$SCHEMA.dat' size 10m
autoextend on next 10m maxsize 2000m
extent management local;

create user $SCHEMA identified by "{{ vars[role + '_database_password'] }}"
default tablespace $SCHEMA
temporary tablespace temp;

alter user $SCHEMA quota unlimited on $SCHEMA;
grant connect, resource, create session to $SCHEMA;
grant create table, create sequence, create trigger to $SCHEMA;

alter tablespace $SCHEMA add datafile size 1G autoextend on next 1G maxsize 32767M;
exit;
EOF
)

echo $create
yell $create
