#!/bin/bash
# {{ ansible_managed }}
# {{ vars[role + '_database_username'] }} Oracle Data Pump export script 

{% include './templates/_helpers.sh.j2' %}

{% include './templates/_env_oracle.sh.j2' %}

{% include './templates/oracle/_create_dir.sh.j2' %}

try impdp "{{ role | role_oracle_connect(vars) }}" directory={{ role | role_dump_dir_name(vars) }} dumpfile={{ role | role_dump_file() }} logfile={{ role | role_dump_log_file(vars) }} sqlfile=ddl_dump.txt
