#!/bin/bash
# {{ ansible_managed }}
# Write {{ vars[role + '_database_username'] }} Oracle System Change Number (SCN)
# to {{ role | role_scn_file(vars) }}

{% include './templates/_helpers.sh.j2' %}
{% include './templates/_env_oracle.sh.j2' %}

scn=$(sqlplus -s {{ role | role_oracle_connect(vars) }} << EOF
set pagesize 0 feedback off verify off heading off echo off;
select to_char(dbms_flashback.get_system_change_number) from dual;
exit;
EOF
)
echo $scn > {{ role | role_scn_file(vars) }}
yell "Oracle SCN $scn to {{ role | role_scn_file(vars) }}"
echo $scn
