{% for docker_volume in backup_roles[item]['volumes'] %}
# {{ docker_volume }} → {{ item | c2platform.mgmt.role_archive_root(vars) }}/{{ docker_volume }}
try docker run --rm -v {{ docker_volume }}:/data -v {{ item | c2platform.mgmt.role_archive_root(vars) }}:/backup drinternet/rsync:1.0.1 rsync -a --delete /data/ /backup/{{ docker_volume }}/
{% endfor %}


