
{% if backup_roles[item]['snapshot'] | default(None) == True %}
{% if backup_mount %}
  try umount {{ vars[item + '_home_backup'] }}
{% endif %}
  try lvremove -f /dev/{{ lvm_vg }}/{{ item }}-snapshot
  try rm -rf {{ vars[item + '_home_backup'] }}
{% endif %}
{% if lookup('vars', item + '_database_host', default='') != '' and
      backup_roles[item]['skip_database'] | default(False) == False and
      backup_roles[item]['snapshot'] | default(None) == True %}
  try rm -rf {{ item | c2platform.mgmt.role_dump_dir(vars) }}
{%   if vars[item + '_database_type'] | default('postgresql') == 'postgresql' %}
  try psql -v v1={{ vars[item + '_database_name_version_backup'] }} -h {{ lookup('vars', item + '_database_host') }} -p {{ vars[item + '_database_port'] }} -U ansible postgres < /etc/backup/scripts/db_snapshot_drop.sql
{%   endif %}
{% endif %}
